.footer{
    align-items: center;
    background-color: #1B1850;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: large;
}
.footer-container{
    display: flex;
    gap: 100px;
    cursor: pointer;
    justify-content: center;
}
.footer-text{
    word-wrap: break-word;
    color: #fff;
}
.footer-section-2{
    margin-top: 5px
}
.footer-section-3{
    margin-top: 5px;
}
.footer-section-4{
    color: #fff;
}
.social-icon{
    width: 140px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
.footer-logo{
    margin-right: 255px;
}
.footer-table{
    color: #fff;
}
.footer-bottom{
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 60px;
}
.footer-table td{
    text-decoration: none;
    color: #fff
}
a{
    text-decoration: none;
    color: inherit;
}

.booked-services-forward {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 27px;
    width: 300px;
    height:35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-right: 5px;
    color:#1B1850;
    background-color: rgb(225, 192, 203);
}