.footer{
    align-items: center;
    background-color: #1B1850;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: large;
}
.footer-container{
    display: flex;
    gap: 100px;
    cursor: pointer;
    justify-content: center;
}
.footer-text{
    word-wrap: break-word;
    color: #fff;
}
.footer-section-2{
    margin-top: 5px
}
.footer-section-3{
    margin-top: 5px;
}
.footer-section-4{
    color: #fff;
}
.social-icon{
    width: 140px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
.footer-logo{
    margin-right: 255px;
}
.footer-table{
    color: #fff;
}
.footer-bottom{
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 60px;
}
.footer-table td{
    text-decoration: none;
    color: #fff
}
a{
    text-decoration: none;
    color: inherit;
}

.booked-services-forward {
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    height: 40px;
    padding: 20px 25px;
    margin-left: 85%;
    color: #1B1850;
    background-color: #e1c0cb;
    text-align: center;
    font-weight: bold;
    font-size: 14px; 
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.booked-services-forward:hover {
    background-color: #1B1850;
    color: pink;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}