.services {
    padding: 7px;
    font-family: Arial, sans-serif;
}
.service-header{
    text-align: center;
}
.service-header h4{
    margin-right: 90px;
}
.service-header p{
    margin-left: 50px;
}
.service-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 15%;
    padding: 5px;
}

.service-card {
    width: 250px;
    border: 0px solid #ccc;
    padding: 5px;
    margin-left: 20px;
    text-align: auto;
}

.service-img{
    height: 100px;
    width: 100px;
}
