
.container {
    font-family: Arial, sans-serif;
    margin: 13px;
}

.member-list-header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.our-staff {
    color: gray;
    font-size: large;
}

.meet-staff {
    color: darkblue;
}

.cleaning-staff {
    text-align: center;
    margin-left: 10%;
}

.staff-members {
    display: flex;
    gap: 15px;
}

.staff-member {
    text-align: center;
}

.member-description {
    text-align: center;
    padding-top: 20px;
    height: 100px;
}

.member-image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


